---
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: "true"
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: "true"
AlignConsecutiveMacros: "true"
AlignEscapedNewlines: Right
AlignOperands: "true"
AlignTrailingComments: "true"
AllowAllArgumentsOnNextLine: "true"
AllowAllConstructorInitializersOnNextLine: "true"
AllowAllParametersOfDeclarationOnNextLine: "true"
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: "false"
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: "false"
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: "false"
AlwaysBreakTemplateDeclarations: "Yes"
BinPackArguments: "false"
BinPackParameters: "false"
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBinaryOperators: All
BreakBeforeConceptDeclarations: Always
BreakBeforeTernaryOperators: "true"
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: "false"
ColumnLimit: "70"
CompactNamespaces: "false"
ConstructorInitializerAllOnOneLineOrOnePerLine: "true"
Cpp11BracedListStyle: "true"
DerivePointerAlignment: "true"
DisableFormat: "false"
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
ExperimentalAutoDetectBinPacking: "false"
FixNamespaceComments: "true"
IncludeBlocks: Regroup
IndentAccessModifiers: "true"
IndentCaseBlocks: "true"
IndentCaseLabels: "true"
IndentPPDirectives: AfterHash
IndentRequires: "true"
IndentWidth: "4"
IndentWrappedFunctionNames: "true"
InsertBraces: "true"
InsertNewlineAtEOF: "true"
IntegerLiteralSeparator:
  Binary: 4
  BinaryMinDigits: 7
  Decimal: 3
  Hex: -1
KeepEmptyLinesAtTheStartOfBlocks: "false"
LambdaBodyIndentation: Signature
Language: Cpp
MaxEmptyLinesToKeep: "1"
NamespaceIndentation: All
PenaltyBreakAssignment: "1"
PenaltyBreakBeforeFirstCallParameter: "1"
PenaltyBreakComment: "1"
PenaltyBreakFirstLessLess: "5"
PenaltyBreakString: "100"
PenaltyBreakTemplateDeclaration: "1"
PenaltyExcessCharacter: "5"
PenaltyReturnTypeOnItsOwnLine: "100"
PointerAlignment: Right
QualifierAlignment: Left
ReferenceAlignment: Right
ReflowComments: "true"
RemoveSemicolon: "true"
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope
SortIncludes: "true"
SpaceAfterCStyleCast: "true"
SpaceAfterLogicalNot: "false"
SpaceAfterTemplateKeyword: "false"
SpaceBeforeAssignmentOperators: "true"
SpaceBeforeCpp11BracedList: "true"
SpaceBeforeCtorInitializerColon: "false"
SpaceBeforeInheritanceColon: "true"
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: "false"
SeparateDefinitionBlocks: Always
SpaceInEmptyParentheses: "false"
SpacesBeforeTrailingComments: "1"
SpacesInAngles: "false"
SpacesInContainerLiterals: "false"
SpacesInCStyleCastParentheses: "false"
SpacesInParentheses: "false"
SpacesInSquareBrackets: "false"
Standard: Latest
TabWidth: "4"
UseTab: Never

IncludeCategories:
  - Regex: "<zephir\\.h|FreeRTOS\\.h|catch2.*>"
    Priority: 1
  - Regex: "<[a-z_]+>"
    Priority: 2
  - Regex: "<.+>"
    Priority: 3
  - Regex: '\".+\"'
    Priority: 4
  - Regex: '\".+/.+\"'
    Priority: 5
